In [1]:
import numpy as np
import pandas as pd

In [2]:
df_bios= pd.read_csv('./datasets/olympic_bios.csv')
df_results = pd.read_csv('./datasets/olympic_results.csv')

In [3]:
df_bios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   athlete_id    145500 non-null  int64
 1   name          145500 non-null  object
 2   born_date     143693 non-null  object
 3   born_city     110908 non-null  object
 4   born_region   110908 non-null  object
 5   born_country  110908 non-null  object
 6   NOC           145499 non-null  object
 7   height_cm     106651 non-null  float64
 8   weight_kg     102070 non-null  float64
 9   died_date     33940 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 11.1+ MB

In [4]:
df_results.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,17.0,True,NaN
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,NaN
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,32.0,True,NaN
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,NaN
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,NaN

In [5]:
df_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308408 entries, 0 to 308407
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   year        305807 non-null  float64
 1   type        305807 non-null  object
 2   discipline  308407 non-null  object
 3   event       308408 non-null  object
 4   as          308408 non-null  object
 5   athlete_id  308408 non-null  int64
 6   noc         308407 non-null  object
 7   team        121714 non-null  object
 8   place       283193 non-null  float64
 9   tied        308408 non-null  bool
 10  medal       44139 non-null   object
dtypes: bool(1), float64(2), int64(1), object(7)
memory usage: 23.8+ MB

In [6]:
#number of medal won by each country
df_results['medal'].groupby(df_results['noc']).value_counts()

noc  medal
AFG  Bronze     2
AHO  Silver     1
ALG  Bronze     8
     Gold       5
     Silver     4
               ..
ZAM  Bronze     1
     Silver     1
ZIM  Gold      17
     Silver     4
     Bronze     1
Name: medal, Length: 384, dtype: int64

In [7]:
#Total medal won by specific country
df_results['medal'].groupby(df_results['noc']).value_counts().loc['GER']

medal
Gold      817
Bronze    810
Silver    772
Name: medal, dtype: int64

In [8]:
df_results.groupby(['noc','year'])['medal'].value_counts().loc['MEX']

year    medal
1900.0  Bronze     3
1932.0  Silver     2
1936.0  Bronze    16
1948.0  Bronze     4
        Gold       4
        Silver     1
1952.0  Silver     1
1956.0  Bronze     1
        Gold       1
1960.0  Bronze     1
1964.0  Bronze     1
1968.0  Bronze     3
        Gold       3
        Silver     3
1972.0  Silver     1
1976.0  Bronze     1
        Gold       1
1980.0  Bronze     9
        Silver     1
1984.0  Silver     3
        Gold       2
        Bronze     1
1988.0  Bronze     2
1992.0  Silver     1
1996.0  Bronze     1
2000.0  Bronze     3
        Silver     2
        Gold       1
2004.0  Silver     3
        Bronze     1
2008.0  Bronze     3
        Gold       2
2010.0  Bronze     1
2012.0  Gold      16
        Silver     5
        Bronze     4
2014.0  Bronze     2
        Gold       1
        Silver     1
2016.0  Silver     3
        Bronze     2
2020.0  Bronze    24
        Gold       1
Name: medal, dtype: int64

In [9]:
medalists = df_results[df_results['medal'].notna()].drop_duplicates(subset=['athlete_id'])

In [10]:
medalists

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
9,1924.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean Borotra,3,FRA,René Lacoste,3.0,False,Bronze
12,1924.0,Summer,Tennis,"Doubles, Men (Olympic)",Jacques Brugnon,4,FRA,Henri Cochet,2.0,False,Silver
14,1912.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Albert Canet,5,FRA,Marguerite Broquedis,3.0,False,Bronze
21,2000.0,Summer,Table Tennis,"Doubles, Men (Olympic)",Patrick Chila,7,FRA,Jean-Philippe Gatien,3.0,False,Bronze
24,1924.0,Summer,Tennis,"Singles, Men (Olympic)",Henri Cochet,8,FRA,NaN,2.0,False,Silver
...,...,...,...,...,...,...,...,...,...,...,...
308398,2022.0,Winter,Ice Hockey (Ice Hockey),"Ice Hockey, Men (Olympic)",Miloš Roman,148978,SVK,Slovakia,3.0,False,Bronze
308399,2022.0,Winter,Ice Hockey (Ice Hockey),"Ice Hockey, Men (Olympic)",Juraj Slafkovský,148979,SVK,Slovakia,3.0,False,Bronze
308400,2022.0,Winter,Ice Hockey (Ice Hockey),"Ice Hockey, Men (Olympic)",Samuel Takáč,148980,SVK,Slovakia,3.0,False,Bronze
308401,2022.0,Winter,Ice Hockey (Ice Hockey),"Ice Hockey, Men (Olympic)",Matej Tomek,148981,SVK,Slovakia,3.0,False,Bronze
308402,2022.0,Winter,Ice Hockey (Ice Hockey),"Ice Hockey, Men (Olympic)",Peter Zuzin,148982,SVK,Slovakia,3.0,False,Bronze